# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
backend/venv/
venv/
.venv/

# Environment Variables
backend/.env
.env

# Node
frontend/node_modules/

# Build
frontend/dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db